<div class="grid-container">
<div class="item1">
<h3>{{displayRecipe.title}}</h3>
<!-- <p>{{displayRecipe.id}}</p> -->
<img src={{displayRecipe.image}}>
<!-- <p>vegetarian:{{displayRecipe.vegetarian}}</p>
<p>glutenFree:{{displayRecipe.glutenFree}}</p>
<p>dairyFree:{{displayRecipe.dairyFree}}</p>
<p>preparationMinutes:{{displayRecipe.preparationMinutes}}</p>
<p>cookingMinutes:{{displayRecipe.cookingMinutes}}</p>
<p>healthScore:{{displayRecipe.healthScore}}</p> -->

<p>Total Time: {{displayRecipe.readyInMinutes}} min</p>
<p>Servings: {{displayRecipe.servings}}</p>
</div>
<div class="item2">
<h3>Ingredients: </h3>
    <div *ngFor="let n of ingredients">
        <p>{{n}}</p>

    </div>
</div>
<!-- <div *ngFor="let d of ingredients;index as i"> -->
 
<!-- <p>{{i+1}}: <span>{{d.name}}</span> ,<span>{{d.amount}} {{d.unit}}</span></p> -->
<!-- <img src={{d.image}}><br> -->

<!-- </div> -->

<!-- <h3>Instructions:</h3>
<p>{{displayRecipe.instructions}}</p> -->
<div class="item3">
<h3>Instructions:</h3>
<div *ngFor="let n of instructions;index as i">
    <p>{{n}}</p><br>
</div>
<!-- <div *ngIf="displayRecipe !== undefined">
    <div *ngFor="let n of displayRecipe.analizedInstructions.split(","); index as i">
        <p>{{n[i]}}</p>
    </div>
</div> -->
<!-- <ol>
<li *ngFor="let s of steps">{{s.step}} </li>
</ol> -->
</div>
</div>



    