<!-- <div *ngFor="let f of favoritesSavedRecipes">
    <p>Title:{{f.id}}</p>
    <img src={{f.image}}>
    <button></button>
</div> -->

<div  *ngIf="!showRecipeDetails" >
    <div *ngFor="let f of favoritesSavedRecipes; index as i">
    <p>Title:{{f.title}}</p><button (click)="getRecipeDetails(f.id)">See Details</button>
    <img src={{f.image}}>
    
    </div>
    </div>
    
    
    <div>
    <button *ngIf="showRecipeDetails"  (click)="backRecipe()">Get Back Recipes</button>  
    <app-recipe-details  *ngIf="showRecipeDetails" [displayRecipe]="selectedRecipe"></app-recipe-details>
    </div>