<!-- <div *ngFor="let f of favoritesSavedRecipes">
    <p>Title:{{f.id}}</p>
    <img src={{f.image}}>
    <button></button>
</div> -->

<div  *ngIf="!showRecipeDetails" >
    <div class="flex">
    <div *ngFor="let f of favoritesSavedRecipes; index as i" style="width: 24%; border-style:ridge;">
        <div class="gallery">
    <button (click)="getRecipeDetails(f.id)" class="clearbutton"><img style="width: 80%; margin:auto;"  src={{f.image}}><br><p>{{f.title}} </p></button>
    </div>
    <button (click)="removeFavorite(f.id,i)">🗑️❌</button>
   
     
</div>
</div>
</div>
<div>
    <button *ngIf="showRecipeDetails"  (click)="backRecipe()">⬅️Back</button>  
    <app-recipe-details  *ngIf="showRecipeDetails" [displayRecipe]="selectedRecipe"></app-recipe-details>
    </div>

