<div *ngIf="welcome">
<h3 >Welcome {{getCurrentAccountName()}} <button (click)="logOut()">Log Out</button></h3>



<div *ngIf="!showRecipeDetails">
<p>IngredientName:</p>
<input type="text" [(ngModel)]="input">
<button (click)="getRecipe()">SearchTerm</button>

<div *ngFor="let r of results;index as i">
<p>Title:{{r.title}}</p><button (click)="getRecipeDetails(r.id)">See Details</button>
<img src={{r.image}}>
<button (click)="addToFavorites(r.id)">Add To Favorite</button>
</div>
</div>
<button *ngIf="showRecipeDetails"  (click)="backRecipe()">Get Back Recipes</button>  
<app-recipe-details  *ngIf="showRecipeDetails" [displayRecipe]="selectedRecipe"></app-recipe-details>
</div>