

label.checked {
    text-decoration: line-through;
}


input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container{
    padding: 2px 16px;
}

img {
    border-radius: 5px 5px 0 0;
    padding: 5px;
    width: 300px
}



.item1 { grid-area: image; }
.item2 { grid-area: list; }
/* .item3 { grid-area: steps; } */


.grid-container {
  display: grid;
  grid-template-areas:
    'image list';
 
 
  gap: 30px;
  /* background-color: #2196F3; */
  padding: 30px;
}

.grid-container > div {
  
  background-color: rgba(213, 244, 213, 0.8);
  text-align: left;
  padding: 20px 30px;
  font-size: 20px;
}