


<div *ngFor="let r of comparedRecipes; index as i" class="card" class="grid-container">
    <div class="item1">
    <p>{{r.title}}</p>
    <img src={{r.image}}>
    <div *ngFor="let a of comparedRecipes[i].analyzedInstructions" class="container">
        <div *ngFor="let s of a.steps">
            <p>{{s.step}}</p>
        </div>
    </div>
</div>
<div class="item2">
    <h2>Shopping List:</h2>
    <div *ngFor="let e of comparedRecipes[i].extendedIngredients; index as i" >
       
        <input type="checkbox" id="item[i]">
        <label for="item[i]">{{e.amount}} {{e.unit}} - {{e.name}} </label>
    
    </div>
    <p>Cost Per Serving: $ {{r.pricePerServing*.01}}</p>
    <div class="item2">
</div>
