


<div *ngFor="let r of comparedRecipes; index as i" class="card" class="grid-container">
    <div class="item1">
    <h2>{{r.title}}</h2>
    <img src={{r.image}}>
    <div *ngFor="let a of comparedRecipes[i].analyzedInstructions" class="container">
        <div *ngFor="let s of a.steps">
            <p>{{s.step}}</p>
        </div>
    </div>
</div>
<div class="item2">
    <div class="item2">
        <p>Servings: {{r.servings}}  Cost Per Serving: {{r.pricePerServing*.01 | currency}}</p>
        <p>Total Estimated Cost: {{r.pricePerServing*.01*r.servings | currency}}</p>
    <h2>Shopping List:</h2>
    <div *ngFor="let e of comparedRecipes[i].extendedIngredients; index as i" >
       
        <input type="checkbox" id="item[i]">
        <label for="item[i]">{{e.amount}} {{e.unit}} - {{e.name}} </label>
    
    </div>

    
    

</div>
