<div *ngFor="let r of comparedRecipes; index as i" class="card">
    <p>{{r.title}}</p>
    <img src={{r.image}}>
    <div *ngFor="let a of comparedRecipes[i].analyzedInstructions" class="container">
        <div *ngFor="let s of a.steps">
            <p>{{s.step}}</p>
        </div>
    </div>
    <div *ngFor="let i of comparedRecipes[i].extendedIngredients">

        <input type="checkbox" id="item[i]">
        <label for="item[i]">{{i.amount}} {{i.unit}} - {{i.name}}</label>
        
    </div>
</div>
