<div class="container">
<div *ngIf="!checkLogIn()" class="main">
<h2>What's for dinner!</h2>
<ul>
<li><a routerLink="createAccount"><h3>Create an account</h3></a></li>
<li><a routerLink="login"><h3>Log In</h3></a></li>
</ul>
</div>
</div>
<div *ngIf="checkLogIn()" class="navbar">
<a routerLink="favorites">Favorites</a>
<a routerLink="recipes">Recipes</a>
<a routerLink="popularRecipes">Popular Recipes</a>
<a routerLink="compare">Compare</a>

<!-- >>>>>>> 9b0ec7fd2f72cd86d1b65ab09d86e805d3415fe0 -->
</div>
<div class="main">
    <router-outlet></router-outlet>
</div>


